<section class="content-header">
    <h1>
        پیشخوان
        <small>پنل مدیریت</small>
    </h1>
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">پیشخوان</li>
    </ol>
</section>
